/*.hero-img1 {
   width: 100%;
   height:auto;
   
}

.into-img1 {
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center;
   object-fit: contain;
}

.hero-img1::after {
   content: " ";
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;


}

.contant-hero {
   position: absolute;
   right: 40%;
   left: 35%;
   bottom: 45%;
}

.contant-hero p {
   text-transform: uppercase;
   font-size: 1.2rem;
   display: block;
}

.contant-hero h1 {
   font-size: 2rem;
}

.botn {
   margin: 1rem;
   position: absolute;
   right: 2%;
   left: -13%;
   bottom: -4rem;

}

.btn-light {
   margin-left: 0.5rem;
}

.btn-light:hover {
   background-color: black;
   color: white;
}

.ptg {
   display: block;

}

@media screen and (max-width:830px) {

   * {
      margin: 0%;
      padding: 0;
   }

   .hero-img {
      width: auto;
      height: 100%;
      z-index: -1;
   }

   .intro-img {
      width: auto;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
   }

   .contant p {
      text-transform: uppercase;
      font-size: 0.2;
   }

   .contant h1 {
      font-size: 2rem;
   }

   .botn {
      margin: 2rem;
      position: absolute;
      margin-left: -6rem;
      bottom: -70%;

   }
   .contant p {
    
      right: 1%;
      left: 1%;
      bottom: 49%;
      font-size: 1rem;
   }

   .contant 
   {
      bottom: 40%;
   }
  
  
}*/
.main-heroimg
{
   height: 100%;
   width: 100%;

   
}
.intro-img-2 img{
   width: 100%;
   height: fit-content;
   
  
   
}
.contant-hero
{
   display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:19rem;
    left: 25rem;
    gap: 2rem;
   

}
/* .intro-img1 
{
   position: absolute;
   top: 0;
   left: 0;
   z-index:-1;
} */
.ptg
{
   text-transform: uppercase;
}
.botn
{ 
   padding-top: 2px;
   display: flex;
   gap: 1rem;
   text-align: center;
   justify-content: center;
}
@media screen and(max-width:450) {
   .intro-img1 img
   {
   position: absolute;
   top: 0;
   left: 0%;
   z-index: -1;
   }
   
   
}